<div class="p-5 flex justify-center w-[100%]">
  <table class="border border-separate">
    <tr class="bg-gray-400 h-[30px]">
      <th class="border border-separate w-10">#</th>
      <th class="border border-separate">Title</th>
      <th class="border border-separate">Description</th>
      <th class="border border-separate">Price</th>
      <th class="border border-separate">Image</th>
      <th class="border border-separate">Thao tac</th>
    </tr>
    <tbody class=" w-[100%]" >
      <tr class="border-b " *ngFor="let products of products">
        <td class="border border-separate "> {{products.id}} </td>
        <td class=" border border-separate "> {{products.title}} </td>
        <td class="w-[500px] border border-separate"> {{products.description}} </td>
        <td class="border border-separate" > {{products.price}} </td>
        <td class="border border-separate"> <img [src]= "products.thumbnail" class="w-[300px] h-20 flex justify-center items-center"> </td>
        <td class="p-12 w-[300px] flex justify-center items-center gap-2 border border-separate">
          <button class="border border-separate bg-gray-500 text-white rounded-md w-[100px] h-[40px] hover:bg-black" [routerLink]="['/products', products.id]">Xem</button>
          <button class="border border-separate bg-red-500 text-white rounded-md w-[100px] h-[40px] hover:bg-sky-500" [routerLink]="['/admin/products/update', products.id]">Sua</button>
          <button class="border border-separate bg-orange-500 text-white rounded-md w-[100px] h-[40px] hover:bg-pink-400" (click)="deleteProduct(products.id)">Xoa</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>
