<div class="flex justify-between w-[83%] items-center mx-auto bg-cover bg-center  h-auto text-white py-24 px-10 object-fill" style="background-image: url(https://i.pinimg.com/originals/3f/8e/48/3f8e48a0b20f4dc0671a8e5e8dd861a4.jpg)">
  <div class="md:w-1/2 text-black">
   <p class="font-bold text-sm uppercase">Services</p>
   <p class="text-3xl font-bold">Multimedia products</p>
   <p class="text-2xl mb-10 leading-none">Atractive designs for your brand</p>
   <a href="#" class="bg-blue-800 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-200 hover:text-gray-800">Contact us</a>
   </div>
</div>

