<app-banner></app-banner>
<h1 class="text-3xl font-bold text-center py-5">Danh sach san pham</h1>
<div class="flex flex-wrap items-center justify-center gap-5 py-5">
  <a [routerLink]="['/products', product.id]" class=" w-[300px] group relative block bg-black overflow-hidden" *ngFor="let product of home">
    <img
      alt=""
      [src]="product.thumbnail"
      class="absolute inset-0 h-[495px] w-[300px] object-cover opacity-75 transition-opacity group-hover:opacity-50"
    />

    <div class="relative p-4 sm:p-6 lg:p-8">
      <p class="text-sm font-bold uppercase tracking-widest text-red-600 sm:text-base">{{product.title}}</p>

      <p class="text-xl font-bold text-white sm:text-2xl"> {{product.price }}  </p>

      <div class="mt-32 sm:mt-48 lg:mt-64">
        <div
          class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
        >
          <p class="text-sm text-white">
            {{product.description}}
          </p>
          <button class="border border-separate bg-blue-700 text-white rounded-md w-[100px] h-[40px] hover:bg-red-600">Mua ngay</button>
        </div>
      </div>
    </div>
  </a>
</div>
<div class="py-5 flex justify-center items-center">
  <!-- component -->
<!-- This is an example component -->
<div class="max-w-2xl mx-auto">

	<nav aria-label="Page navigation example">
		<ul class="inline-flex -space-x-px">
			<li>
				<a href="#"
					class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 ml-0 rounded-l-lg leading-tight py-2 px-3  dark:border-gray-700 dark:text-gray-600 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
			</li>
			<li>
				<a href="#"
					class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 leading-tight py-2 px-3  dark:border-gray-700 dark:text-gray-600 dark:hover:bg-gray-700 dark:hover:text-white" [routerLink]="['1']">1</a>
			</li>
			<li>
				<a href="#"
					class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 leading-tight py-2 px-3  dark:border-gray-700 dark:text-gray-600 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
			</li>
			<li>
				<a href="#" aria-current="page"
        class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 leading-tight py-2 px-3  dark:border-gray-700 dark:text-gray-600 dark:hover:bg-gray-700 dark:hover:text-white">3</a>
			</li>
			<li>
				<a href="#"
					class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 leading-tight py-2 px-3  dark:border-gray-700 dark:text-gray-600 dark:hover:bg-gray-700 dark:hover:text-white">4</a>
			</li>
			<li>
				<a href="#"
					class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 leading-tight py-2 px-3  dark:border-gray-700 dark:text-gray-600 dark:hover:bg-gray-700 dark:hover:text-white">5</a>
			</li>
			<li>
				<a href="#"
					class="bg-white border border-gray-300 text-gray-500 hover:bg-gray-100 hover:text-gray-700 rounded-r-lg leading-tight py-2 px-3  dark:border-gray-700 dark:text-gray-600 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
			</li>
		</ul>
	</nav>
</div>
</div>
<app-footer></app-footer>
